@media (min-width:640px){html{font-size:24px;}}
@media (min-width:631px) and (max-width:639px){html{font-size:23.66px;}}
@media (min-width:622px) and (max-width:630px){html{font-size:23.33px;}}
@media (min-width:613px) and (max-width:621px){html{font-size:23px;}}
@media (min-width:604px) and (max-width:612px){html{font-size:22.66px;}}
@media (min-width:595px) and (max-width:603px){html{font-size:22.33px;}}
@media (min-width:586px) and (max-width:594px){html{font-size:22px;}}
@media (min-width:577px) and (max-width:585px){html{font-size:21.66px;}}
@media (min-width:568px) and (max-width:576px){html{font-size:21.33px;}}
@media (min-width:559px) and (max-width:567px){html{font-size:21px;}}
@media (min-width:550px) and (max-width:558px){html{font-size:20.66px;}}
@media (min-width:541px) and (max-width:549px){html{font-size:20.33px;}}
@media (min-width:533px) and (max-width:540px){html{font-size:20px;}}
@media (min-width:524px) and (max-width:532px){html{font-size:19.66px;}}
@media (min-width:515px) and (max-width:523px){html{font-size:19.33px;}}
@media (min-width:506px) and (max-width:514px){html{font-size:19px;}}
@media (min-width:497px) and (max-width:505px){html{font-size:18.66px;}}
@media (min-width:488px) and (max-width:496px){html{font-size:18.33px;}}
@media (min-width:480px) and (max-width:487px){html{font-size:18px;}}
@media (min-width:471px) and (max-width:479px){html{font-size:17.66px;}}
@media (min-width:462px) and (max-width:470px){html{font-size:17.33px;}}
@media (min-width:453px) and (max-width:461px){html{font-size:17px;}}
@media (min-width:444px) and (max-width:452px){html{font-size:17.12px;}}
@media (min-width:435px) and (max-width:443px){html{font-size:16.33px;}}
@media (min-width:426px) and (max-width:434px){html{font-size:16px;}}
@media (min-width:417px) and (max-width:425px){html{font-size:15.66px;}}
@media (min-width:408px) and (max-width:416px){html{font-size:15.33px;}}
@media (min-width:400px) and (max-width:407px){html{font-size:15px;}}
@media (min-width:391px) and (max-width:399px){html{font-size:14.66px;}}
@media (min-width:382px) and (max-width:390px){html{font-size:14.33px;}}
@media (min-width:374px) and (max-width:381px){html{font-size:14px;}}
@media (min-width:365px) and (max-width:373px){html{font-size:13.66px;}}
@media (min-width:356px) and (max-width:364px){html{font-size:13.33px;}}
@media (min-width:347px) and (max-width:355px){html{font-size:13px;}}
@media (min-width:338px) and (max-width:346px){html{font-size:12.66px;}}
@media (min-width:329px) and (max-width:337px){html{font-size:12.44px;}}
@media (max-width:328px){html{font-size:12px;}}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1628944689555') format('woff2'),
    url('iconfont.woff?t=1628944689555') format('woff'),
    url('iconfont.ttf?t=1628944689555') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  background-color:#303030;
  font-family: 'OppoSans';
  scroll-behavior: smooth;
}

body {
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}

input[type=“number”]{
-moz-appearance: textfield;
}

.loading_main, 
.index_main, 
.name_main, 
.thanks_main, 
.about_main, 
.achievement_main, 
.talent_main, 
.property_main, 
.trajectory_main, 
.summary_main{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
}

.loading_main.toInvisible, 
.index_main.toInvisible, 
.name_main.toInvisible, 
.thanks_main.toInvisible, 
.about_main.toInvisible, 
.achievement_main.toInvisible, 
.talent_main.toInvisible, 
.property_main.toInvisible, 
.trajectory_main.toInvisible, 
.summary_main.toInvisible {
  animation-name: main-out;
  animation-direction: forwards;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode:both;
  animation-iteration-count: 1;
}

.loading_main.visible, 
.index_main.visible, 
.name_main.visible, 
.thanks_main.visible, 
.about_main.visible, 
.achievement_main.visible, 
.talent_main.visible, 
.property_main.visible, 
.trajectory_main.visible, 
.summary_main.visible {
  animation-name: main-in;
  animation-direction: forwards;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes main-in {
  0% {
    opacity: 0;
    transform: translateX(45%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes main-out {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  
  100% {
    opacity: 0;
    transform: translateX(-45%);
  }
}

@keyframes banner-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

#title {
  position: fixed;
  font-family: "OppoSans";
  font-size: 3rem;
  font-weight: 500;
  top: 35%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  color: #FCFCFC;
}

#nameInput {
    position: fixed;
    top: 44%;
    align-self:center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.6rem;
    font-family: 'OppoSans';
    text-align: center;
    letter-spacing: 0.24rem;
    border: 1.6px #424242 solid;
    background-color: #303030;
    color: #fcfcfc;
    border-radius: 2rem;
}

#restart {
  position: fixed;
  top: 56%;
  align-self: center;
}

#next {
  display: none;
}

#talentSelectedView {
  flex: 0 1 auto;
}

.mainbtn {
  margin: 1rem 1rem;
  padding: 0.8rem 1.6rem;
  background-color: #30303050;
  border: 2.8px #585858 solid;
  border-radius: 2rem;
  color: #FCFCFC;
  font-family: "OppoSans";
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.mainbtn:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.mainbtn:active {
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.btn-area {
  display: flex;
  flex-direction: row;
}

.btn-area>.mainbtn {
  flex: 1;
}

.iconfont {
  display: inline-block;
  vertical-align: middle;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sponsor,
#rank,
#about,
#specialthanks,
#achievement {
  position: fixed;
  top: 4rem;
  right: 1rem;
  padding: 0.3rem;
  width: 6rem;
  border: none;
  border-radius: 2rem;
  background-color:#2e3033;
  font-family: "OppoSans";
  font-size: 1.2rem;
  color: #539eff;
  cursor: pointer;
  z-index:2;
  word-wrap: none;
}

#about,
#specialthanks {
  background-color: #2e2e35;
  color: #6875ff;
  top: 1rem;
}

.sponsor {
  top: auto;
  bottom: 0;
  width: auto;
  padding: 0.5rem;
}

#rank {
  position: absolute;
  top: 25%;
  right: 1.5rem;
}

#spthx {
  position: fixed;
  display: grid;
  top: 4rem;
  bottom: 5rem;
  left: 50%;
  width: 30rem;
  max-width: calc(100% - 2rem);
  transform: translateX(-50%);
}

#spthx ul {
    list-style-type: none;
    padding: 0;
}

#spthx ul li {
  margin: 0;
}

#spthx ul.g1 {
  display: grid;
  max-block-size: 9rem;
  max-height: 9rem;
  overflow: scroll;
}

#spthx ul.g1 li {
  display: inline-grid;
  background-color: orange;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0;
  grid-template-columns: 7rem auto;
}

#spthx ul.g1 li .name {
  padding: 0 0.5rem;
  font-family: "OppoSans";
  font-weight: 500;
}

#spthx ul.g1 li .comment {
  padding: 0 0.5rem;
}

#spthx ul.g2 {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: scroll;
}

#spthx ul.g2 li {
  text-align: center;
}

.title {
  position: relative;
  font-family: "OppoSans";
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  color: #fcfcfc;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.text {
  color: #fcfcfc;
}

ul#total,
#achievements {
  list-style-type: none;
  display: grid;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-auto-columns: max-content;
  justify-content: center;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

ul#total{
  height:420rem;
  overflow: scroll;
}

ul#total li,
#achievements li {
  position: relative;
  display: inline-grid;
  margin: 0.5rem;
  width: 10rem;
  height: 5rem;
  align-items: center;
}

ul#total li .achievementtitle,
#achievements li .achievementtitle{
  font-family: "OppoSans";
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 0.024rem;
}

#achievements {
  overflow: scroll;
}

#save,
#load,
#themeToggleBtn {
  padding: 0.3rem;
  width: 6rem;
  background-color:#303030;
  border: none;
  border-radius: 20px;
  font-family: "OppoSans";
  font-size: 1.2rem;
  color: #92a9cc;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  z-index:2;
  right: 0.5rem;
  bottom: 0.5rem;
}

#save {
  background-color:#2d3331;
  color: #59ffc2;
  bottom: 6.5rem;
}

#load {
  background-color: #332c2b;
  color: #f3593b;
  bottom: 3.5rem;
}

#rank,
#about,
#specialthanks,
#achievement,
#save,
#load,
#themeToggleBtn{
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

#rank:hover,
#about:hover,
#specialthanks:hover,
#achievement:hover,
#save:hover,
#load:hover,
#themeToggleBtn:hover{
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

#rank:active,
#about:active,
#specialthanks:active,
#achievement:active,
#save:active,
#load:active,
#themeToggleBtn:active{
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "OppoSans";
  font-size: 1.6rem;
  white-space: nowrap;
  color: #FCFCFC;
  text-align: left;
  padding-left:1.2rem;
  padding-top:1.6rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
}

.propinitial{
  list-style: none;
  padding: 1rem;
  overflow: auto;
  flex: none;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.selectlist {
  list-style: none;
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  overflow: auto;
}

.lifeProperty {
  list-style: none;
  padding: 1rem 0.8rem 0.5rem 0.8rem;
  display: flex;
  color: #FCFCFC;
  overflow: auto;
}

.lifeProperty>li {
  flex: 1;
  margin: 0.1rem 2px;
  display: inline;
  flex-direction: column;
  border: 1px #414141 solid;
  border-radius: 2rem;
  font-family: "OppoSans";
  font-size: 0.75rem;
  position: relative;
  padding: 0.3rem;
}

.lifeProperty>li>span:first-child {
  font-weight: 700;
  color: #FCFCFC;
}

.lifeProperty>li>span:last-child {
  margin-left: 0.3rem;
  color: #FCFCFC;
}

.chosenTitle {
  padding:0.5rem; 
  color:#FCFCFC; 
  font-weight:700;
}

.selectlist>li {
  margin-bottom: 0.6rem;
  display: block;
  border: 1px #4d4d4d solid;
  border-radius: 2rem;
  color: #999;
  font-family: "OppoSans";
  font-size: 1.2rem;
  line-height: 1.6;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.selectlist>li:last-child {
  margin-bottom: 0;
}

.propinitial {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: start;
  padding-left: 2rem;
}

.propbtn:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.propbtn:active {
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.propinitial>li {
  position: relative;
  margin: 0.1rem auto;
  padding: 1.2rem 0.2rem 1.2rem 0.2rem;
  display: inline-block;
  color: #FCFCFC;
  font-family: "OppoSans";
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
}

.propinitial>li>input {
  height: 2.2rem;
  width: 5rem;
  margin: 0 0.8rem;
  padding: 0;
  font-family: "OppoSans";
  font-size: 1.6rem;
  border: 0.1rem #FCFCFC solid;
  background-color: #303030;
  color: #FCFCFC;
  text-align: center;
}

.propbtn {
  position: relative;
  cursor: pointer;
  font-family: "OppoSans";
  font-size: 2rem;
  color: #FCFCFC;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.lifeTrajectoryItemTitle{
  text-align: left;
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 0.6rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
}

.lifeTrajectoryItemMain{
  flex: 1;
  text-align: left;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.lifeTrajectoryItemVirtual{
  font-size: 0.48rem; 
  opacity: 0.75;
}

.lifeTrajectoryItemParentParent{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.lifeTrajectoryItemMainParent{
  align-items:center;
  display: flex;
}

.lifeTrajectoryItemAppendDescription{
  font-size: 0.8rem;
  padding-top: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.12rem;
}

.lifeTrajectoryItemAppendUlParent{
  width: -webkit-fill-available;
  padding-bottom: 0.4rem;
}

.lifeTrajectoryItemAppendParent{
  list-style-type: none;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1.2px #cccccc solid;
  border-radius: 16px;
}

.lifeTrajectoryItemAppendChild{
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex: 1;
  text-align: left;
}

.lifeTrajectoryItemAppendChildInnerParent{
  align-items: flex-start;
  display: flex;
  flex: 1;
}

.lifeTrajectoryItemAppendChildMonth{
  font-size: 0.8rem;
  font-weight: 700;
  padding-right: 0.6rem;
}

.lifeTrajectoryItemAppendChildDescription{
  font-size:0.6rem;
  flex: 1;
}

.lifeTrajectory {
  flex: 1;
  margin: 0.5rem 1rem;
  padding: 0;
  border: 0.8px #5e5e5e solid;
  background-color: #30303050;
  border-radius: 20px;
  overflow: auto;
}

.lifeTrajectory>li {
  margin: 10px 10px;
  padding: 8px 8px;
  display: flex;
  border: 2px #3b3b3b solid;
  background-color: #30303050;
  border-radius: 20px;
  box-shadow:  0 0 0.6rem rgba(0,0,0,0.24);
  color: #fcfcfc;
  font-family: "OppoSans";
  font-size: 1rem;
  position: relative;
  align-items: center;
}

.judgeParent{
  display: flex;
  flex-direction: row;
}

.judgeItem{
  display: flex;
  box-shadow: none;
  color: #000;
  padding-bottom: 0.2rem;
  padding-right: 1.2rem;
  font-size: 1rem;
  opacity: 0.85;
}

:root {
  font-family: "OppoSans";
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: inherit;
}

.banners-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.banner {
  color: black;
  font-family: 'OppoSans';
  font-weight: 500;
  padding: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.2rem 1.6rem 1.2rem 1.6rem;
  border-radius: 2.0rem;
  box-shadow: 0.2rem 0.8rem 1.6rem 0.2rem rgba(0, 0, 0, 0.2);
}

.banner .banner-message {
  flex: 1;
  padding: 0 1.2rem;
  word-break: break-word;
  font-family: 'OppoSans';
  overflow: auto;
  letter-spacing: 0.06rem;
  line-height: 1.35rem;
  color: #fcfcfc;
}

.banner .banner-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  cursor: pointer;
  color: #fcfcfc;
}

.banner .iconfont {
  font-size: 2rem;
  color: #fcfcfc;
}

.banner .banner-close{
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.banner .banner-close:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.banner-close:active{
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.banner.success {
  background: rgb(20, 58, 20);
}

.banner.error {
  background: #5a0a0d;
}

.banner.info {
  background: rgb(21, 55, 68);
}

.banner.toInvisible {
  display: flex !important;
  animation-name: banner-out;
  animation-direction: forwards;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

.banner.invisible{
  display:none !important;
}

.banner.visible {
  display: flex !important;
  animation-name: banner-in;
  animation-direction: forwards;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.achvg0{
  background-color: #343434;
  color: #fcfcfc;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border: #4e4e4e 1px solid !important;
  border-radius: 2rem;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.grade0b {
  background-color: #343434;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: #4e4e4e 1.2px solid !important;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.achvg1 {
  background-color: #26282c;
  color: #fcfcfc;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border: #4e4e4e 1px solid !important;
  border-radius: 2rem;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.grade1b {
  background-color: #1c2433;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: #4e4e4e 1.2px solid !important;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.achvg2{
  background-color: #333035;
  color: #fcfcfc;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border: #4e4e4e 1px solid !important;
  border-radius: 2rem;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.grade2b {
  background-color: #261c2b;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: #4e4e4e 1.2px solid !important;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.achvg3{
  background-color: #312926;
  color: #fcfcfc;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border: #4e4e4e 1px solid !important;
  border-radius: 2rem;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.grade3b {
  background-color: #352119;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: #4e4e4e 1.2px solid !important;
  transform: scale(1.0) !important;
  -webkit-transform: scale(1.0) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.mask::before {
  display: block;
  content: "　";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #080808;
  opacity: 0.75;
  border-radius: 2rem;
}

.grade0b:hover,
.grade1b:hover,
.grade2b:hover,
.grade3b:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.grade0b:active,
.grade1b:active,
.grade2b:active,
.grade3b:active {
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.grade0b.selected,
.grade1b.selected,
.grade2b.selected,
.grade3b.selected {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.12);
  color: #fcfcfc;
  overflow: hidden;
}
.grade0b.selected::after,
.grade1b.selected::after,
.grade2b.selected::after,
.grade3b.selected::after {
  content: '';
  position: absolute;
  background-color:#fcfcfc;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.12);
  opacity: 0;
  animation: blink 2s cubic-bezier(.42,0,.99,.47) infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  50% {
    opacity: .2;
    transform: translateX(-0%);
  }
  85% {
    opacity: .2;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(150%);
  }
}

.grade0b.selected {
  background-color: rgb(90, 90, 90) !important;
}

.grade1b.selected {
  background-color: #2c539c !important;
}

.grade2b.selected {
  background-color: #78409b !important;
}

.grade3b.selected {
  background-color: #914628 !important;
}

@keyframes banner-in {
  0% {
    transform: translateY(-160%);
  }

  50% {
    transform: translateY(12%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes banner-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-160%);
  }
}

.show-banner {
  appearance: none;
  background: #ededed;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0.25rem;
}

/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */
.eva-animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.eva-infinite {
  animation-iteration-count: infinite;
}

.eva-icon-shake {
  animation-name: eva-shake;
}

.eva-icon-zoom {
  animation-name: eva-zoomIn;
}

.eva-icon-pulse {
  animation-name: eva-pulse;
}

.eva-icon-flip {
  animation-name: eva-flipInY;
}

.eva-hover {
  display: inline-block;
}

.eva-hover:hover .eva-icon-hover-shake,
.eva-parent-hover:hover .eva-icon-hover-shake {
  animation-name: eva-shake;
}

.eva-hover:hover .eva-icon-hover-zoom,
.eva-parent-hover:hover .eva-icon-hover-zoom {
  animation-name: eva-zoomIn;
}

.eva-hover:hover .eva-icon-hover-pulse,
.eva-parent-hover:hover .eva-icon-hover-pulse {
  animation-name: eva-pulse;
}

.eva-hover:hover .eva-icon-hover-flip,
.eva-parent-hover:hover .eva-icon-hover-flip {
  animation-name: eva-flipInY;
}

@keyframes eva-flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes eva-shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes eva-pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes eva-zoomIn {
  from {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
  }

  50% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0 !important
}

.deleteFixed {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0;
  overflow: visible;
}

.domToImage2wx {
  position: fixed;
  z-index: 1111;
  width: 100%;
}

.domToImage2wx img {
  width: 100%;
}